@import "../../sass/colors";

.custom-button {
  background-color: $button-primary;
  color: $light-b;
  border: none;
  &:hover {
    cursor: pointer;
    color: $light-a;
  }
  &:disabled {
    background-color: $button-primary-disabled;
    color: $light-b;
    cursor: default;
  }
  &.secondary {
    padding: 8px 16px;
    border-radius: 5px;
  }
}
