.form-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 85%;
  }
  input {
    flex-grow: 1;
  }
  .actions {
    flex-shrink: 0;
    button {
      margin: 0 5px;
    }
  }
}
